body{
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	background-color: #474B24;
	margin: 0px;
	padding: 0px;
	text-rendering: optimizeLegibility;
	/*letter-spacing: 2px;*/
}

ul.nav { /* get rid of bullet points in the list style */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5FBB97;
}

li.nav{ /* display it horizontally */
    display: inline;
    float: left;
}

li a { /* create a block like menu for nav bar */
    display: block;
    color: black;
    padding: 10px 14px;
    text-decoration: none; /* remove the underline */
    padding-left: 100px;
    padding-right: 100px;
}

li a.change-color:hover{ /* change color on hover */
    background-color: #291711;
    color: white;
}

.img-size{
	display: inline-block;
	vertical-align: center;
	width: 20px;
	height: 20px;
}

#text-change{
	display: inline-block;
	padding-left: 0px;
	border: 2px;
}

.picture-container{
	background-color: #291711;
	height: 400px;
}

#adjust-workers{
	display: block;
	margin-right: auto;
	float: left;

}

#adjust-workers:hover{
	filter: saturate(3);
}

aside{
	float: right;
}

#about-font{
	color: white;
	text-align: center;
}

.resize-person{
	width: 450px;
	height: 300px;
	border-radius: 60%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.underline-title{
	font-weight: bold;
	font-size: 30px;
}

#center-reviews{
	display: flex;
	align-items: center;
	text-align: center;
}

.adjust-footer{ /* create a block like menu for footer bar */
    display: block;
    color: black;
    padding: 10px 14px;
    text-decoration: none; /* remove the underline */
    padding-left: 70px;
    padding-right: 70px;
}